@import "tailwindcss";
.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  font-size: 0.875rem;
  outline: none;
}
.input:focus {
  border-color: #22d3ee;
}
